<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css' />
    <link rel='stylesheet' href='https://cdn.datatables.net/searchpanes/2.1.2/css/searchPanes.dataTables.min.css' />
    <link rel='stylesheet' href='https://cdn.datatables.net/select/1.6.2/css/select.dataTables.min.css' />

     <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
     <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
     <script src="https://cdn.datatables.net/searchpanes/2.1.2/js/dataTables.searchPanes.min.js"></script>
     <script src="https://cdn.datatables.net/select/1.6.2/js/dataTables.select.min.js"></script>

    


     
    <script>
    $(document).ready(function() {
        $('#example').DataTable({
            searchPanes: {
                columns: [3,2,1]
            },
            dom: 'Plfrtip'
        });
    });</script>
  </head><body>
    <h1>
        <%= title %>
    </h1>
    Ma liste d'offre
    <table  id="example" class="display nowrap" style="width:100%">
      <thead>
          <tr>
              <th>Createur de l'offre</th>
              <th>Indication</th>
              <th>Date de validite</th>
              <th>Nombre de piece</th>
              <th> Candidater </th>
             
           
          </tr>
      </thead>
      <tbody>
          <% offre.forEach((offre)=> { %>
            <tr id="<%= offre.id %>"></tr>
            
              <tr>
                  <td>
                      <%= offre.createur %>
                  </td>
                  <td>
                      <%= offre.indication%>
                  </td>
                  <td>
                      <%= offre.date_validite %>
                  </td>
                  <td>
                      <%= offre.nombre_piece %>
                  </td> 
                  <td style="width: auto;">
                    <script>
                          //Créez un élément de bouton HTML en utilisant JavaScript
                          var bouton = document.createElement("button");
                          bouton.innerHTML = "Candidater";

                          // Attachez le bouton à un élément existant sur la page
                          document.body.appendChild(bouton);

                          // Ajoutez un gestionnaire d'événements pour le bouton
                          bouton.addEventListener("click", function () {
                              // Redirigez vers une autre page en modifiant l'URL de la page actuelle
                              window.location.href = "candidature";
                        
                      });
                      </script>
                  </td>
                  
                 
                  

              </tr>
              <% }) %>
      </tbody>
  </table>

</body>
</html>
